html, body {width:100%; padding:0; margin:0;}
body { color: black;font-size: 16px; font-family: "Montserrat",Helvetica,Arial,sans-serif;}

html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a {color: #2c51d8;text-decoration: none;}

.text-muted{
    color: black;
}

h1 {font-size: 55px;}
h2 {font-size: 45px;}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 20px;}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    font-family: "Montserrat",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
}
h6 {
    text-transform: uppercase;
    font-family: "Montserrat",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding-bottom: 4%;
}

p{letter-spacing:1px;font-size: 16px;}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

/* --Line-- */

hr { margin: 15px auto; padding: 0; max-width: 130px;border: 0; border-top: solid 3px #2c51d8; text-align: center;}

/* --Color-- */
.blue {color: #2c51d8;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Header+Nav--------------------------------- */
/* ---------------------------------------------------------------------------- */
.navbar-default {border-color: transparent;background-color: black;}
.navbar-default .navbar-brand {font-family: "Montserrat", Helvetica,Arial,cursive; color: #2c51d8;}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {color: #2c51d8 !important;}

.navbar-default .navbar-collapse {border-color: black;}

.navbar-default .navbar-toggle {border-color: #2c51d8; background-color: #2c51d8;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #2c51d8;}

.navbar-default .nav li a {text-transform: uppercase;font-family: "Montserrat", Helvetica,Arial,sans-serif;font-weight: 400;letter-spacing: 1px;color: #fff;}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {outline: 0;color: #2c51d8;}

.navbar-default .navbar-nav>.active>a {border-radius: 0;color: #fff;background-color: #2c51d8;}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {color: #fff;background-color: #2c51d8;}

@media(min-width:768px) {
    .navbar-default {
        padding: 12px 0;
        border: 0;
        /* background-color: transparent; */
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: black;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
header{color: #fff;background: url(/static/images/newhero.png) no-repeat scroll center center ;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;height: 650px; }
header img{display: block; margin: 200px auto 50px auto;}
header .intro-text .intro-heading {text-transform: uppercase;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: 700;font-size: 50px; margin-top: 5%;}
header .intro-text .intro-lead-in {margin-bottom: 30px; font-family:"Montserrat", Helvetica,Arial;font-size: 42px; margin-top: 1%;}
header .hero-heading {margin-bottom: 30px; font-family:"Montserrat", Helvetica,Arial;font-size: 45px; margin-top: 10%; color: black; margin-left: 14%; line-height: 1.7; font-weight: bold;}
header .hero-lead-in {margin-bottom: 30px; font-family:"Montserrat", Helvetica,Arial;font-size: 32px; margin-top: 1%; color: black; margin-left: 14%; margin-right: 55%; line-height: 1;}

@media(min-width:635px) {
    header .intro-text {
        padding-bottom: 80px;
    }
     header .intro-text .hero-heading {font-size: 45px; margin-top: 15%}
	 header .intro-text .hero-lead-in {font-size: 22px;}
}
@media(max-width:420px) {
	header .intro-text .intro-heading {font-size: 33px;}
    header .intro-text .hero-heading {font-size: 33px; margin-top: 15%}
	header .intro-text .hero-lead-in {font-size: 22px;}
	header .intro-text {padding-bottom: 40px;}
}

.border-white{
  /*border white with light shadow*/
  text-shadow:
     1px  1px     #fff,
    -1px  1px     #fff,
     1px -1px     #fff,
    -1px -1px     #fff,
     1px  1px 5px #555;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content{}
#page-content.index-page {background: #F0F0F0;}
#page-content.archives-page {padding: 70px 0;background: #F7F7F7;}
#page-content.single-page {padding: 70px 0;background: #F7F7F7;}

/* ---HomePage--- */
.box-content {padding: 100px 0;}
.box-content .heading{margin-bottom: 30px; text-align: center;}
.box-content .heading h2{font-size: 45px;letter-spacing:2px;}
.box-content .heading .intro{margin-bottom: 75px; font-family: "Montserrat", Helvetica,Arial; font-size:22px;}

.box-content.box-style {background-attachment:fixed; background-image: url(/static/images/scroll.jpg); background-size: 100% auto; background-color: #222; color: white;}

.space{
    margin-top: 6%;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------Services(box-1)------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-1 {text-align: center;}
.box-content.box-1 h3 {margin-bottom:15px;font-size: 25px;}
.box-content.box-1 .wrap-img{margin-bottom:40px;}
.box-content.box-1 .box-item {}

/* ---------------------------------------------------------------------------- */
/* --------------------------------New(box-2)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-2 {}
.box-content.box-2 blockquote {position: relative;padding: 30px 120px;text-align: center;font-size: 44px; }
.box-content.box-2 blockquote:before, .box-content.box-2 blockquote:after {position: absolute;width: 60px;height: 60px;font-size: 130px;line-height: 1; }
.box-content.box-2 blockquote:before {top: 0;left: 0;content: "\201C"; }
.box-content.box-2 blockquote:after {top: 0;right: 0;content: "\201D"; }

@media only screen and (max-width: 1100px) {
 	.box-content.box-2 blockquote {font-size: 30px; } }
@media only screen and (max-width: 960px) {
 	.box-content.box-2 blockquote {padding: 30px 60px; font-size: 18px; }
   	.box-content.box-2 blockquote:before, .box-content.box-2 blockquote:after { width: 30px; height: 30px; font-size: 60px; } }
@media only screen and (max-width: 690px) {
 	.box-content.box-2 blockquote { padding: 10px 30px;font-size: 16px; }
  	.box-content.box-2 blockquote:before,.box-content.box-2 blockquote:after {font-size: 30px; } }

/* ---------------------------------------------------------------------------- */
/* ------------------------------About(box-3)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-3 {}

.timeline {position: relative;padding: 0;list-style: none;}
.timeline:before {content: "";position: absolute;top: 0;bottom: 0;left: 40px;width: 2px;margin-left: -1.5px;background-color: #2c51d8;}
.timeline>li {position: relative;margin-bottom: 50px;min-height: 50px;}
.timeline>li:before,
.timeline>li:after {content: " ";display: table;}
.timeline>li:after {clear: both;}
.timeline>li .timeline-panel {float: right;position: relative;width: 100%;padding: 0 20px 0 100px;text-align: left;}
.timeline>li .timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.timeline>li .timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.timeline>li .timeline-image {z-index: 100;position: absolute;left: 0;width: 80px;height: 80px;margin-left: 0;border: 6px solid #2c51d8;border-radius: 100%;text-align: center;color: #fff;background-color: #2c51d8;}
.timeline>li .timeline-image h4 {margin-top: 12px;font-size: 10px;line-height: 14px;}
.timeline>li.timeline-inverted>.timeline-panel {float: right;padding: 0 20px 0 100px;text-align: left;}
.timeline>li.timeline-inverted>.timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.timeline>li.timeline-inverted>.timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.timeline>li:last-child {margin-bottom: 0;}
.timeline .timeline-heading h4 {margin-top: 0;color: inherit;}
.timeline .timeline-heading h4.subheading {text-transform: none;}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {margin-bottom: 0;}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }

}
@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}
@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Team(box-4)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-4 {}
.box-content.box-4 .box-item{margin-bottom: 10px; display: inline-block;}
.box-content.box-4 span{display: block; font-weight: bold; margin-top: 10px;}
.box-content.box-4 img{margin: 5px;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------Contact(box-5)-------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-5 {padding:110px 0 ;}
.box-content.box-5 .box-item{margin: 5px; }
.box-content.box-5 h3 {margin-bottom: 30px;font-size: 35px;}
.box-content.box-5 p {margin-bottom: 20px;}
.box-content.box-5 input {border: 1px solid #777;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.box-content.box-5 textarea {border: 1px solid #777;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;height: 240px;}

.message{text-align: center;margin: 100px 0;}
.message .wrap{	padding: 50px; background: #ffffff; border: 1px solid #333333;display: inline-block;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-khtml-border-radius: 5px;}
.checklist, .login, .logout{
    height: auto;
    width: 30%;
}
.password{
    float: left;
    height: auto;
    width: 50%;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {color: #fff; }
footer p{ margin-bottom: 20px;display:block;}
footer a{color: #2c51d8;}
footer a:hover{color: #333; text-decoration: underline;}
footer .wrap-footer {padding-top: 50px; background-color: black;}

footer-links
{
    padding-left:0;
    list-style:none;
    line-height: 1.5em;
}
.footer-links li
{
    display:block;
    line-height: 1.5em;
}
.footer-links a
{
    color:white;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#6ECADC;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}


footer .col-footer{margin-bottom: 50px;}
footer .col-footer .heading{text-align: center;}
footer .col-footer .heading h4{color:#fff; font-size: 24px;margin-bottom: 25px;}
footer .col-footer .content{
    line-height: 1.5em;
}

footer .col-footer.footer-1{}
footer .col-footer.footer-1 img{width:40%;}

footer .col-footer.footer-2{}

footer .col-footer.footer-3{}
footer .col-footer.footer-3 img{margin: 10px 0;}
  
footer .copyright {background-color: white; color: black; text-align:center;}
footer .copyright p, footer .copyright ul{margin: 20px 0;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Subscribe-------------------------------- */
/* ---------------------------------------------------------------------------- */
#subscribe {margin: 10px 0;}

#subscribe input[type="text"] {
    background: white;
    font: 15px "Montserrat", Arial,Helvetica;
    color: black;
    width: 100%;
	border-radius: 0px;
    padding: 10px;
    border: 1px solid #aaa;
  
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
	border-radius: 2px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;	
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 14px;
}
a.btn:focus{outline: 0;}

.btn-1 {color: #fff;background-color: transparent;border: 2px solid #fff;margin:0 15px 20px 0;min-width: 170px;line-height: 26px;}
.btn-1:hover {color: #000;background-color: #fff;border-color: #fff;}

.btn-2 {background: #333;border: 2px solid transparent;margin:20px 0 50px 0; color:#fff;}
.btn-2:hover {color:#333;border:2px solid #333;background:transparent;}

.btn-3 {background: #2c51d8; margin: 20px 0 10px 0;border: 2px solid transparent;font-size:25px;}
.btn-3:hover {color:#333;border:2px solid #2c51d8; background:transparent;}

.btn-4 {background: #2c51d8; border: 2px solid transparent;font-size:18px;}
.btn-4:hover {color:#333;border:2px solid #555;background:transparent;text-shadow: none;}

.login-form {
		width: 500px;
    	margin: 50px auto;
	}
    .login-form form {
        margin-top: 15%;
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .form-text{
        display: none;
    }
.profile-form {
        padding-top: 5%;
		width: 95%;
    	margin: 50px auto;
	}
.profile-form form {
        margin-top: 0%;
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
 .profile-form h2 {
        margin: 0 0 15px;
    }

/* The container */
.radiocontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
  background-color: #2c51d8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
  display: block;
}

.select-box
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     width: 100%;
     padding: 9px 9px 11px 13px;
     background-color: #f1f1f1;
     border: none;
     border-radius: 3px;
     outline: none;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     color: #666;
     cursor: pointer;
}

.rounded-circle{
    border-radius: 50%;
    width: 200%;
}

@media print {
    #Header, #Footer, #Noprint, #Button1, #Button2 { display: none !important; }
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.diagram-control {
      width: 100%;
      padding: 12px 5px;
      margin: 0px 0;
      box-sizing: border-box;
      font-size: 10px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      text-align: center;
      border: none;
}