{% extends "users/dashboardbase.html" %}
{% block content %}
        {% load static %}


    <div class="profile-form">
            <form class="form-inline my-2 my-lg-0" method="POST">
                {% csrf_token %}
                <h3 class="text-center">Edit FBA Form</h3><br>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 "></legend>
                         <div class="col-md-6">
                          <div class="form-group">
                         <input type="text" class="form-control input-lg" name="item" placeholder="{{ item.item }}"
                         value="{{ item.item }}" aria-label="Search" name="item"/>
                              <input type="hidden" name="completed" value="{{ item.completed }}" />
                          </div>
                  </div>
        <button type="submit" class="btn btn-3 btn-block" >Edit</button>
        <br>
         </fieldset></form>
                </div>
{% endblock content %}