<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/our-team.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animated-logo.min.css' %}">
</head>

<body>

    <h2>You have been logged out</h2>

        <div class="border-top pr-3">
            <small class="text-muted">
                <a href="{% url 'login' %}"> Log In Again</a>

            </small>

        </div>



</body>
</html>