{%  extends "users/userbase.html" %}
{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}

    {% load static %}
        <header id="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="o-container">
                        </div>

                                 <div class="container-fluid">
                                         <h2>You have been logged out</h2>
                                     <div class="border-top pr-3"><br>
                                          <small class="text-muted">
                                <a href="{% url 'login' %}"> Log In Again</a>
                </small>
                         </div>
    </div>
    </div>
                    </div><br><br><br>
                <a class="btn btn-1 btn-sm" href="#about">About Us</a>
                        <a class="btn btn-1 btn-sm" href="#team">Our Team</a>
                </div>
        </header>
{% endblock content %}
