<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/our-team.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animated-logo.min.css' %}">
</head>

<body>

   <div class="alert alert-info">

   An email has been sent with instructions to reset your password.

   </div>



</body>
</html>