
{%  extends "users/userbase.html" %}
{% block content %}
        {% load static %}
        {% load crispy_forms_tags %}
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'index' %}">PBSS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
					<li>
                        <a class="page-scroll" href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                         {% if user.is_authenticated %}
                     <li>
                                 <a class="page-scroll" href="{% url 'client' %}">Client</a>
                             </li>
                             <li>
                                 <a class="page-scroll" href="{% url 'profile' %}">Profile</a>
                             </li>
                             <li>
                                 <a class="page-scroll" href="{% url 'logout' %}">Logout</a>
                             </li>
                     </li>
                             <li>

                         {% else %}
                            <a class="page-scroll" href="#portal">Signup</a>
                        </li>
                         {% endif %}

                        <li>
                            <a class="page-scroll" href="{% url 'contact' %}">Contact us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

     <div id="page-content" class="index-page">
            <section id="" class="box-content box-1" style="background: white; margin-top: 3%;">
                <div class="container">
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2>Client Details</h2>
                            <hr>
                            <div class="intro">Be a part of positive behaviour support.</div>
                        </div>
                    </div>
            <div class="container">
							<h2>{{ object.client_name }} </h2>
                            <a class="mr-2" href="{% url 'user-client' object.author.username %}">By {{object.author}}</a>
                             {% if object.author == user %}
                                <a class="btn btn-3 btn-sm btn-block" type="submit" href="{% url 'client-update' object.id %}">Update</a>
                                <a class="btn btn-3 btn-sm btn-block" type="submit" href="{% url 'client-delete' object.id %}">Delete</a>
                              {% endif %}
                            <p>{{object.email}}</p>
                            <p>{{object.content}}</p>
                        </div>
                </div>

            </section>

     </div>

{% endblock content %}