{%  extends "users/userbase.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

 <!-- i have to add nav bar which will be redirected to this page.-->
    <div class="profile-form">
            <div class="row">
                <div class="col-mt-3">
                <div class="content-section">
                    <div class="content-section">
                        <div class="media">
                        <div >
                        {%  if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" style="text-align: center">
                        {{ message }}
                        </div>
                        {% endfor %}
                        {%  endif %}
                        </div>
                            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                            <div  class="media-body">
                                <h2 class="account-heading">{{ user.username }}</h2>
                                <p class="text-secondary">{{ user.email }}</p>
                                 <a class="btn btn-3 btn-sm" href="{% url 'edit_profile' %}" >Edit Profile</a>
                                <a class="btn btn-3 btn-sm" href="#" >BR Report</a>
                            </div>
                        </div>
                    </div>



                </div>
                </div>
            </div>
            </div>
    </div>



{% endblock content %}