<!--{%  extends "users/dashboardbase.html" %}-->
<!--{% load crispy_forms_tags %}-->
<!--{% block content %}-->
<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class = "table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <br><br>
    <tr>
        <th>User</th>
        <th>Anticedent</th>
        <th>Behaviour</th>
        <th>Consequence</th>
        <th>Intensity</th>
    </tr>
    </thead>
    {% for forms in form_fba %}
    <tr>
        <td>{{ forms.user }} </td>
        <td>{{ forms.anticedent }} </td>
        <td>{{ forms.behaviour }} </td>
        <td>{{ forms.consequence }} </td>
        <td>{{ forms.intensity }} </td>
        <td>
            <a href="/edit/{{ forms.id }}"> <span class="glyphicon glyphicon-pencil"> Edit</span> </a>
            <a href="/delete/{{ forms.id }}"> Delete </a>

        </td>
    </tr>

    {% endfor %}

    </table>

</body>
</html>
<!--{% endblock content %}-->