{%  extends "freefbaform/fbabase.html" %}
{% block content %}
        {% load static %}

     <div id="page-content" class="index-page">
                <section id="" class="box-content box-1" style="background: white;">
                    <div class="container">
                        <div class="row heading">
                        <div class="col-lg-12">
                            <h2>FBA form</h2>
                            <hr>
                            <div class="intro">Lorem ipsum dolor sit amet</div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-sm-4 box-item">
                                <div class="col-lg-12"><br><br>
                                <h2>Behaviour</h2>
                                <hr>
                            </div>
                            </div>
                            <div class="col-sm-4 box-item">
                                <div class="col-lg-12"><br><br>
                                <h2>Anticident</h2>
                                <hr>
                            </div>
                            </div>
                            <div class="col-sm-4 box-item">
                                  <div class="col-lg-12"><br><br>
                                <h2>Consequences</h2>
                                <hr>
                            </div>
                            </div>
                        <script>
                                function myFunction() {
                                window.print();
                                }
                                </script>
                        </div>
                        <button class="btn btn-3 btn-sm" onclick="myFunction()" name="print" id="print" style="float: right;">Print</button>
                    </div>
                </section>
     </div>

{% endblock content %}