
{%  extends "positivebehaviour/base.html" %}
{% block content %}
        {% load static %}
        <header id="page-top">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="o-container">

                        </div>
                        <div class="intro-text"><br><br>
                            <div class="intro-lead-in">POSITIVE BEHAVIOUR SUPPORT</div>
                            <div class="intro-heading">Better understanding on data</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header -->

        <section id="about" class="box-content box-3">
                <div class="container">
                    <div>
                        {%  if messages %}
                            {% for message in messages %}
                               <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                               </div>
                            {% endfor %}
                        {%  endif %}
                     </div>
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2>About us</h2>
                            <hr>
                            <div class="intro"><p></p></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="timeline">
                                <li class="blue">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/4.jpg' %}" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4></h4>
                                            <h4 class="subheading">FBA Tool</h4>
                                        </div>
                                        <div class="timeline-body"><br>
                                            <p class="text-muted">Concentrate primarily on preventing the occurrence of an identified behaviour by avoiding or adapting the circumstances that usually trigger the behaviour. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted blue">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/5.jpg' %}" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
    {#                                            <h4>March 2011</h4>#}
                                            <h4 class="subheading">Business Report</h4>
                                        </div>
                                        <div class="timeline-body"><br>
                                            <p class="text-muted">Filling a business report for 30 or more days that will link to FBA form that has been created earlier.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="blue">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/6.jpg' %}" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
{#                                            <h4>December 2012</h4>#}
                                            <h4 class="subheading">Better understanding</h4>
                                        </div>
                                        <div class="timeline-body"><br>
                                            <p class="text-muted">Integrating all the collected data into graphs for the visualising and understanding the statistics of the client. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted blue">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/7.jpg' %}" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
{#                                            <h4>July 2014</h4>#}
                                            <h4 class="subheading">End Summary</h4>
                                        </div>
                                        <div class="timeline-body"><br>
                                            <p class="text-muted">Provides end summary based on  antecedents, behaviour and consequences with triggers and other behavioural information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted ">
                                    <div class="timeline-image">
                                        <h4>Be Part
                                        <br>Of Our
                                        <br>Story!</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        <div id="page-content" class="index-page">
            <section id="services" class="box-content box-1">
                <div class="container">
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2>Services</h2>
                            <hr>
                            <div class="intro">Providing unique experience based on the user role</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 box-item">
                            <h3 class="blue">Business Leader</h3>
                            <p>Based on the input on the accounts a business report along with the strategy will be created and the business leader can analyse it.</p>
                            <button type="submit" class="btn btn-2 ">More</button>
                        </div>
                        <div class="col-sm-3 box-item">
                            <h3 class="blue">Team leader</h3>
                            <p>A structured action plan for the team leaders wo will be supported by a support worker to carry out the plan. </p>
                            <button type="submit" class="btn btn-2 ">More</button>
                        </div>
                        <div class="col-sm-3 box-item">
                            <h3 class="blue">Support worker</h3>
                            <p>Support workers can register there clients behaviour under there profile and can be used for references.</p>
                            <button type="submit" class="btn btn-2 ">More</button>
                        </div>
                        <div class="col-sm-3 box-item">
                            <h3 class="blue">Personal use</h3>
                            <p>A free user can use the tool to someones behaviour and print the behaviour strategy for free from the app.</p>
                            <button type="submit" class="btn btn-2 ">More</button>
                        </div>



                    </div>
                </div>
            </section>

    <div id="page-content" class="index-page">
            <section id="fbaform" class="box-content box-1" style="background: white;">
                <div class="container">
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2>FBA Form</h2>
                            <hr>
                            <div class="intro">  </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 box-item">
                            <img src="{% static 'images/checklist.png' %}" alt="checklist" class="checklist">
                        </div>
                        <div class="col-sm-6 box-item">
                            <p>Functional behaviour assessment tool analyse the behaviour of an individual by there actions, we are providing a tool for everyone who wants to know more about the behaviour of an individual </p>
                            <a class="btn btn-2 btn-sm" href="/fbaform/">Access FBA Form</a>
                        </div>
                    </div>
                </div>
            </section>


            <!-- ////////////Content Box 02 -->
    <section id="portal" class="box-content box-2 box-style">
                <div class="container">
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2>Create account</h2>
                            <hr>
                            <div class="intro">Be a part of positive behaviour support</div>
                        </div>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-1 btn-sm" href="{% url 'register' %}">Signup</a>
                        <a class="btn btn-1 btn-sm" href="{% url 'login' %}">Signin</a>
                </div>
            </section>
            <!-- ////////////Content Box 03 -->

            <!-- ////////////Content Box 04 -->


            <!-- ////////////Content Box 05 -->
            <section class="box-content box-5" id="contact" style="background:white;" >
                <div class="container">
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2>Contact us</h2>
                            <hr>
                            <div class="intro">The support team is here to help, drop us a line.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="row box-item">
                                <h3>How can we help?</h3>
                                <p>Please select a topic that you are not able to find according to your need. click the contact form and complete the required information we will get back to you as soon as possible.</p>
                                <h3>Or Just Make a Call</h3>
                                <p>+61 430 299 865 <br>
                                    +61 411 420 495</p>
                                <p>info@positivebehaviourPBS.com</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="contact-form">
                                <form name="form1" method="post" action="contact.php">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                            <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Enter name" required="required" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control input-lg" name="email" id="email" placeholder="Enter email" required="required" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Subject" required="required" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
                                                placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-3 btn-block" name="btnContactUs" id="btnContactUs">
                                        Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>


        <section class="box-content box-4 box-style">
                <div class="clearfix">
                    <div class="cd-testimonials-wrapper cd-container">
                        <ul class="cd-testimonials">
                            <li>
                                <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                <div class="cd-author">
                                    <img src="{% static 'images/avatar.png' %}" alt="">
                                    <ul class="cd-author-info">
                                        <li>MyName</li>
                                        <li>CEO, AmberCreative</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, perferendis error repudiandae numquam dolor fuga temporibus. Unde omnis, consequuntur.</p>
                                <div class="cd-author">
                                    <img src="{% static 'images/avatar.png' %}" alt="">
                                    <ul class="cd-author-info">
                                        <li>MyName</li>
                                        <li>Designer, CodyHouse</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.</p>
                                <div class="cd-author">
                                    <img src="{% static 'images/avatar.png' %}" alt="">
                                    <ul class="cd-author-info">
                                        <li>MyName</li>
                                        <li>CEO, CompanyName</li>
                                    </ul>
                                </div>
                            </li>
                        </ul> <!-- cd-testimonials -->
                    </div> <!-- cd-testimonials-wrapper -->

                    <div class="cd-see-all"><a href="#0" class="btn btn-1">See all</a></div>

                    <div class="cd-testimonials-all">
                        <div class="cd-testimonials-all-wrapper">
                            <ul>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam saepe iste maiores neque animi molestias nihil illum nisi temporibus.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum nisi, doloremque error hic nam nemo doloribus porro impedit perferendis. Tempora, distinctio hic suscipit. At ullam eaque atque recusandae modi fugiat voluptatem laborum laboriosam rerum, consequatur reprehenderit omnis, enim pariatur nam, quidem, quas vel reiciendis aspernatur consequuntur. Commodi quasi enim, nisi alias fugit architecto, doloremque, eligendi quam autem exercitationem consectetur.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam eveniet, molestiae laborum voluptatibus minima hic quasi accusamus ut facere, eius expedita, voluptatem? Repellat incidunt veniam quaerat, qui laboriosam dicta. Quidem ducimus laudantium dolorum enim qui at ipsum, a error.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero voluptates officiis tempore quae officia! Beatae quia deleniti cum corporis eos perferendis libero reiciendis nemo iusto accusamus, debitis tempora voluptas praesentium repudiandae laboriosam excepturi laborum, nisi optio repellat explicabo, incidunt ex numquam. Ullam perferendis officiis harum doloribus quae corrupti minima quia, aliquam nostrum expedita pariatur maxime repellat, voluptas sunt unde, inventore.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam saepe iste maiores neque animi molestias nihil illum nisi temporibus.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quia quas, quis illo adipisci voluptate ex harum iste commodi nulla dolor. Eius ratione quod ab!</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dignissimos iure rem fugiat consequuntur officiis.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At temporibus tempora necessitatibus reiciendis provident deserunt maxime sit id. Dicta aut voluptatibus placeat quibusdam vel, dolore.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis iusto sapiente, excepturi velit, beatae possimus est tenetur cumque fugit tempore dolore fugiat! Recusandae, vel suscipit? Perspiciatis non similique sint suscipit officia illo, accusamus dolorum, voluptate vitae quia ea amet optio magni voluptatem nemo, natus nihil.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quasi officiis pariatur, fugit minus omnis animi ut assumenda quod commodi, ad a alias maxime unde suscipit magnam, voluptas laboriosam ipsam quibusdam quidem, dolorem deleniti id.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At temporibus tempora necessitatibus reiciendis provident deserunt maxime sit id. Dicta aut voluptatibus placeat quibusdam vel, dolore.</p>

                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque tempore ipsam, eos suscipit nostrum molestias reprehenderit, rerum amet cum similique a, ipsum soluta delectus explicabo nihil repellat incidunt! Minima magni possimus mollitia deserunt facere, tempore earum modi, ea ipsa dicta temporibus suscipit quidem ut quibusdam vero voluptatibus nostrum excepturi explicabo nulla harum, molestiae alias. Ab, quidem rem fugit delectus quod.</p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                            </ul>
                        </div>	<!-- cd-testimonials-all-wrapper -->
                        <a href="#0" class="close-btn">Close</a>
                    </div> <!-- cd-testimonials-all -->
                </div>
            </section>

{% endblock content %}
