
{%  extends "positivebehaviour/base.html" %}
{% block content %}
        {% load static %}
        <header id="page-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text"><br><br>
                            <strong><div class="hero-heading">Helping <span class="border-white" style="color: #2c51d8">People</span>,<br> One step at <span class="border-white" style="color: #2c51d8">a time</span>.</div></strong>
                            <div class="hero-lead-in">Join us today!</div>
                             <div class="col text-left">
                        <a class="btn btn-3 btn-sm" href="{% url 'register' %}" style="margin-right: 2%; margin-left: 14%;">Signup</a>
                        <a class="btn btn-3 btn-sm" href="{% url 'login' %}" style="margin-left: 10%;">Signin</a>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header -->

        <section id="about" class="box-content box-3">
                <div class="container">
                    <div>
                        {%  if messages %}
                            {% for message in messages %}
                               <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                               </div>
                            {% endfor %}
                        {%  endif %}
                     </div>
                     <div class="col-md-8">
                       <div class="row heading">
                        <div class="col-lg-12">
                            <h2>About us</h2>
                            <hr>
                            <div class="intro"><p></p></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="timeline">
                                <li class="blue">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" style="width: 200%;" src="{% static 'images/tools.png' %}" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="subheading">FBA Tool</h4>
                                        </div>
                                        <div class="timeline-body"><br>
                                            <p class="text-muted" style="line-height: 2;">Concentrate primarily on preventing the occurrence of an identified behaviour by avoiding or adapting the circumstances that usually trigger the behaviour. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted blue">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/report.png' %}" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                       <div class="timeline-heading">
                                           <br> <h4 class="subheading">Business Report</h4>
                                        </div>
                                        <div class="timeline-body"><br>
                                            <p class="text-muted" style="line-height: 2;">Filling a business report for 30 or more days that will link to FBA form that has been created earlier.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="blue">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/understanding.png' %}" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                      <div class="timeline-heading">
                                            <h4 class="subheading">Better understanding</h4>
                                        </div>
                                        <div class="timeline-body"><br>
                                            <p class="text-muted" style="line-height: 2;">Integrating all the collected data into graphs for the visualising and understanding the statistics of the client. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted blue">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="{% static 'images/summary.png' %}" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                      <div class="timeline-heading">
                                            <h4 class="subheading">End Summary</h4>
                                        </div>
                                        <div class="timeline-body"><br>
                                            <p class="text-muted" style="line-height: 2;">Provides end summary based on  antecedents, behaviour and consequences with triggers and other behavioural information.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted ">
                                    <div class="timeline-image">
                                        <h4>Be Part
                                        <br>Of Our
                                        <br>Story!</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

                    <!-- ////////////Content Box 02 -->
    <section id="portal" class="box-content box-2 box-style">

        {% if user.is_authenticated %}
        <div class="container" >
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2 style="color: black;">View Profile</h2>
                            <hr align="center">

                        </div>
                    </div>
        </div>
            <div class="col text-center" >
                        <a class="btn btn-3 btn-sm" href="{% url 'profile' %}" style="margin-left: 1%;" >Profile</a>
            </div>


        {% else %}
        <div class="container">
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2 style="color: black;">Create account</h2>
                            <hr>
                            <div class="intro" style="color: black;">Be a part of positive behaviour support</div>
                        </div>
                    </div>
        </div>
                    <div class="col text-center">
                        <a class="btn btn-3 btn-sm" href="{% url 'register' %}" style="margin-right: 5%;">Signup</a>
                        <a class="btn btn-3 btn-sm" href="{% url 'login' %}">Signin</a>
                </div>
        {% endif %}

        </section>


        <div id="page-content" class="index-page">
            <section id="services" class="box-content box-1" style="background: white;">
                <div class="container">
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2>Services</h2>
                            <hr>
                            <div class="intro">Providing unique experience based on the user role</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 box-item">
                            <h3 class="blue">Business Leader</h3>
                            <p style="line-height: 2;">Based on the input on the accounts a business report along with the strategy will be created and analysed.</p>
                            <button type="submit" class="btn btn-2 ">More</button>
                        </div>
                        <div class="col-sm-3 box-item">
                            <h3 class="blue">Team leader</h3>
                            <p style="line-height: 2;">A structured action plan for the team leaders wo will be supported by a support worker to carry out the plan. </p>
                            <button type="submit" class="btn btn-2 ">More</button>
                        </div>
                        <div class="col-sm-3 box-item">
                            <h3 class="blue">Support worker</h3>
                            <p style="line-height: 2;">Support workers can register there clients behaviour under there profile and can be used for references.</p>
                            <button type="submit" class="btn btn-2 ">More</button>
                        </div>
                        <div class="col-sm-3 box-item">
                            <h3 class="blue">Personal use</h3>
                            <p style="line-height: 2;">A free user can use the tool to someones behaviour and print the behaviour strategy for free from the app.</p>
                            <button type="submit" class="btn btn-2 ">More</button>
                        </div>
                    </div>
                </div>
            </section>

    <div id="page-content" class="index-page">
            <section id="fbaform" class="box-content box-1" style="background: white;">
                <div class="container">
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2>FBA Form</h2>
                            <hr>
                            <div class="intro">  </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 box-item">
                            <img src="{% static 'images/checklist.png' %}" alt="checklist" class="checklist">
                        </div>
                        <div class="col-sm-6 box-item">
                            <p style="line-height: 2;">Functional behaviour assessment tool analyse the behaviour of an individual by there actions, we are providing a tool for everyone who wants to know more about the behaviour of an individual </p>
                            <br><br><a class="btn btn-3 btn-sm" href="{% url 'freefbaform' %}">Access FBA Form</a>
                        </div>
                    </div>
                </div>
            </section>







        <section class="box-content box-1" style="background-size: 100% auto; padding: 0px 0; background-color: white;">
                <div class="clearfix">
                     <div class="container">
                    <div class="row heading">
                        <div class="col-lg-12">
                            <h2>Testimonials</h2>
                            <hr>
                            <div class="intro" style="margin-bottom: 0%;">  </div>
                        </div>
                    </div>
                    <div class="cd-testimonials-wrapper cd-container">
                        <ul class="cd-testimonials">
                            <li>
                                <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                             <br/>   <div class="cd-author">

                                    <ul class="cd-author-info">
                                        <li>MyName</li>
                                        <li>CEO, AmberCreative</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                               <br/> <div class="cd-author">

                                    <ul class="cd-author-info">
                                        <li>MyName</li>
                                        <li>Designer, CodyHouse</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                              <br/>  <div class="cd-author">

                                    <ul class="cd-author-info">
                                        <li>MyName</li>
                                        <li>CEO, CompanyName</li>
                                    </ul>
                                </div>
                            </li>
                        </ul> <!-- cd-testimonials -->
                    </div> <!-- cd-testimonials-wrapper -->

                    <div class="cd-see-all"><a href="#0" class="btn btn-3">Read More</a></div>

                    <div class="cd-testimonials-all">
                        <div class="cd-testimonials-all-wrapper">
                            <ul>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                                <li class="cd-testimonials-item">
                                    <p>FBA tool has been implemented successfully on our firm the understanding of the support workers on client has been improved </p>
                                    <div class="cd-author">
                                        <img src="{% static 'images/avatar.png' %}" alt="">
                                        <ul class="cd-author-info">
                                            <li>MyName</li>
                                            <li>CEO, CompanyName</li>
                                        </ul>
                                    </div> <!-- cd-author -->
                                </li>
                            </ul>
                        </div>	<!-- cd-testimonials-all-wrapper -->
                        <a href="#0" class="close-btn">Close</a>
                    </div> <!-- cd-testimonials-all -->
                </div>
            </section>

{% endblock content %}
